section.slider {
    margin: 0 auto;
    /*centraliza */
    width: 100%;
    /*ocupa todo os espaco da tela*/
    height: auto;
    padding: 0 in !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;

}
.img-mobile,
.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-auto,
.nav-manual {
    position: absolute;
    width: 100%;
    margin-top: 64%;
    display: flex;
    justify-content: center;
}

.nav-auto div,
.nav-manual .manual-btn {
    border: 1px solid red;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-auto div:not(:last-child),
.nav-manual .manual-btn:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: red;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro{
    margin-left: -75%;
}


@media screen and (max-width:941px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 63%;
    }

}
