@font-face {
    font-family: McLaren;
    src: url("Fontes/McLaren/McLaren-Regular.ttf");
}
body {
    font-family: McLaren;
    background-color: #f5f2d0;
    margin: 0;
    overflow-x: hidden;
}
footer {
    background-color: #ffb300;
    padding: 10px 0;
    margin-top: auto;
    bottom: 0;
}
.informacoes{
    background-color: rgba(241, 236, 175, 0.431);
    text-transform: uppercase;
    font: size 15px !important;
}
.inicio h1{
    text-transform: uppercase;
    font-size: 80px;
}
.inicio h4{
    text-transform: uppercase;
    font-size: 45px;
}
.conheca h1{
    color: red;

}
.pe-media iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.agenda{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    background-color: white;
    
}
#nome-mes{
    color: red;
}
.agenda{
    left: 2px;
}
.informativo{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    background-color: white;
    
}