@font-face {
    font-family: McLaren;
    src: url("Fontes/McLaren/McLaren-Regular.ttf");
}
body {
    font-family: McLaren;
    background-color: #f5f2d0;
    margin: 0;
    overflow-x: hidden;
}
.rodape{
    background-color: #ffb300;
    position: absolute;
}
.informacoes{
    background-color: rgba(241, 236, 175, 0.431);
    text-transform: uppercase;
    font: size 15px !important;
}
.inicio h1{
    text-transform: uppercase;
    font-size: 80px;
}
.inicio h4{
    text-transform: uppercase;
    font-size: 45px;
}
.conheca h1{
    color: red;

}
.insta{
    max-width: 100%;
    height: auto;
}
.youtube{
}
