@font-face {
    font-family: McLaren;
    src: url("Fontes/McLaren/McLaren-Regular.ttf");
}
body {
    background-color: #f5f2d0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#navegador-pagina {
    background-color: #ffb300;
    font-family: McLaren;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

}
.menu-toggle {
    
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.menu {
    display: none;
    border: 1px solid black;
    
}

.menu.active {
    display: block;
}
#navegador-pagina a:link {
    color: black;

}
#navegador-pagina a:visited {
    color: black;
}
#navegador-pagina a:hover,
a:focus {
    color: white;

}
#cadastro a:link {
    color: black;
}
#cadastro a:visited {
    color: black;
}
#cadastro a:hover,
a:focus {
    color: red;
}
#cadastro {
    margin-bottom: 4%;
    padding-top: 2%;
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    background-color: #fff509;
}
.rodape{
    background-color: #ffb300;
    position: absolute;
    top: 1200%;
}
@media screen and (max-width: 500px) {
    #navegador-pagina {
        font-size: 10px;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
    }
    header {
        display: flex;
    }
    .bar {
        display: flex;
        justify-content: flex-end;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
    }
    #paginas {
        padding-top: 1%;
        letter-spacing: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
        height: 100%;

    }
    #paginas p {
        margin: 0 10px;
        height: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .logo-inicio {

        height: 30px;
        width: 80px;
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
    }
    .logo-menu {
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
    }
    .menu-toggle {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 40px;
        left: 0;
        width: 50%;
        background-color: #ffe082;
        z-index: 1;

    }
    .menu p {
        align-self: center;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #000;
        border-width: 100%;
        line-height: 5em;
        align-items: center;
    }
    .menu p:last-child {
        border-bottom: none;
    }
    .main {
        font-size: 16px;
        background-color: #ffb300;
    }
    #cadastro {
        display: inline-block;
        border-radius: 70%;
        justify-content: center;
        align-self: center;
    }
    main {
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
}
@media screen and (min-width: 500px) {
    #navegador-pagina {
        font-size: 22px;
    }

    #cadastro {

        font-size: 30px;
        margin-bottom: 2%;
        padding-top: 2%;
        display: flex;
        justify-content: flex-end !important;
        align-items: flex-end !important;
        background-color: #fff509;
        border-radius: 40px;

    }
    
}
