.linktriangulos a:link, a:visited {
    color: white;
}
.linktriangulos a:hover, a:focus{
    color: white;
}
/* .Sobre-Nos img a:hover, a:focus, .Sobre-Nos p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(130, 149, 255, 0.9));
}
.Governanca img a:hover, a:focus, .Governanca p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(255, 205, 130, 0.9));
}
.Projetos img a:hover, a:focus, .Projetos p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(253, 255, 130, 0.9));
}
.Agenda2030 img a:hover, a:focus, .Agenda2030 p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(176, 255, 130, 0.9));
}
.Doar img a:hover, a:focus, .Doar p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(255, 130, 130, 0.9));
}
.Voluntariar img a:hover, a:focus, .Voluntariar p a:hover, a:focus{
    filter: drop-shadow(0px 0px 20px rgba(251, 130, 255, 0.9));
} */

    .triangulos .row{
        margin-top: 10rem;
    }
    .triangulos .row :last-child{
        margin-bottom: 1rem;
    }
    .triangulos img {
        filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
    }
    .foto1{
        position: absolute;
        top: 10%;
        left: -40%;
        width: 40%;
        
    }
    .foto2{
        position: absolute;
        top: 10%;
        left: 80%;
        width: 40%
    }
    .foto3{
        position: absolute;
        top: 10%;
        left: -40%;
        width: 40%;
    }
    .foto4{
        position: absolute;
        top: 10%;
        left: 80%;
        width: 40%
    }
    .foto5{
        position: absolute;
        top: 10%;
        left: -40%;
        width: 40%;
    }
    .foto6{
        position: absolute;
        top: 10%;
        left: 80%;
        width: 40%
    }
    .Sobre-Nos {
        position: absolute;
        right: 3%;
        object-fit: cover;
        width: 60%;

    }
    .img-fluid{
        width: 100%;
        max-width: 1000px;
    }

    .Governanca {
        object-fit: cover;
        position: absolute;
        
        left: 10%;
        width: 60%;
    }

    .Projetos {
        object-fit: cover;
        position: absolute;
        top: 260%;
        right: 3%;
        z-index: 1;
        width: 60%;
    }

    .Agenda2030 {
        object-fit: cover;
        position: absolute;
        top: 360%;
        left: 10%;
        width: 60%;
    }


    .Doar {
        object-fit: cover;
        position: absolute;
        top: 440%;
        right: 3%;
        width: 60%;
    }
    .Voluntariar {
        object-fit: cover;
        position: absolute;
        top: 520%;
        left: 10%;
        z-index: 1;
        width: 60%;
    }



