@font-face {
    font-family: McLaren;
    src: url("Fontes/McLaren/McLaren-Regular.ttf");
}
body {
    font-family: McLaren;
    background-color: #f5f2d0;
    margin: 0;
    overflow-x: hidden;
}
footer {
    background-color: #ffe6ad;
    padding: 10px 0;
    margin-top: 10px;
    bottom: 0;
}
footer a {
    text-decoration: none;
    color: inherit;
}
.informacoes {
    text-align: center;
    background-color: rgba(241, 236, 175, 0.431);
    text-transform: uppercase;
    font: size 15px !important;
}
.inicio h1 {
    text-transform: uppercase;
    font-size: 80px;
}
.inicio h4 {
    text-transform: uppercase;
    font-size: 45px;
}
.conheca h1 {
    color: red;

}
.pe-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.agenda strong {
    text-transform: uppercase;
}
#nome-mes {
    color: red;
}
.agenda {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra */
    background-color: #d0f5f2;
    text-align: center;
}
.informativo{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background-color: rgb(255, 144, 144);
}
.informativo h2 {
    color: #006cfa;
}
.programacao {
    background-color: rgba(241, 236, 175, 0.431);
    text-transform: uppercase;
    font: size 15px !important;
}


.patrocinadores {
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.patrocinadores h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.logotipos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logotipos a {
    margin: 10px;
}

.logotipos img {
    max-width: 150px;

    height: auto;
}
.text-twitter{
    color: #1DA1F2 !important;
}
.text-youtube{
    color: red!important;
}
.text-instagram {
    color: #fd511d!important;
}
.text-facebook {
    color: #1877F2 !important;
    /* Cor do Facebook */
}

.text-linkedin {
    color: #0A66C2 !important;
    /* Cor do LinkedIn */
}

.text-flickr {
    color: #0063DC !important;
    /* Cor do Flickr */
}
