body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.donation-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-form {
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    color: #333;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #FFA800;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    text-align: center;
    color: #333;
}

.contact-info img {
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 0 0 20px;
    color: #555;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
}


.footer-logo {
    text-align: center;
}

.footer-logo img {
    max-width: 100px; 
}


.social-icon img {
    max-width: 40px; 
}