
@font-face {
    font-family: McLaren;
    src: url("Fontes/McLaren/McLaren-Regular.ttf");
}
body {
    font-family: McLaren;
    background-color: #f5f2d0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.content {
    text-align: center;
    padding: 30px;
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 30px;
}


.info-box {
    background-color: #FFF3DB;
    flex: 1.2;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.info-box h2 {
    font-size: 18px;
}

.info-box p {
    font-size: 15px;
}
.info-box {
    flex: 1;
    margin: 10px;
    padding: 30px; 
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
    width: calc(60% - 20px); 
    vertical-align: top;
}


.image-box {
    display: inline-block;
    width: calc(50% - 30px); 
    vertical-align: top;
    margin-left: 30px;
}

.info-box h2 {
    font-size: 20px;
}

.info-box h3 {
    font-size: 22px;
}

.info-box p {
    font-size: 16px;
}

.info-box {
    flex: 1;
    margin: 15px;
    padding: 24px;
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block; 
    width: calc(50% - 20px); 
    vertical-align: top; 
}

.info-image {
    display: inline-block; 
    width: calc(50% - 20px); 
    vertical-align: top; 
    margin-left: 30px; 
    margin: 20px
}


.info-image img {
    max-width: 100%; 
}

.circle-images {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin-top: 20px; 
}


.description {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
}


.circle {
    text-align: center;
}

.circle img {
    width: 150px; 
    height: 150px; 
    border-radius: 80%;
    margin: 0 15px; 
}

.circle p {
    margin: 15px 0; 
}

.document-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}


.document {
    width: 30%; 
    text-align: center;
    margin: 10px;
}


.document img {
    max-width: 80px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}


.document p {
    font-size: 14px;
}

footer {
    background-color: #ffe6ad;
    padding: 20px 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color:#fff
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
}


.footer-logo {
    text-align: center;
}

.footer-logo img {
    max-width: 300px; 
}
.col {
    margin: 10px;
}   	


.social-icon img {
    max-width: 60px; 
}
.info-text {
    text-align: left;
    max-width: 400px; 
    margin: 0 auto;
    padding: 10px;
}

.info-text h4 {
    font-size: 20px;
}

.info-text p {
    font-size: 18px;
}