Patrocinadores 

#Patrocinadores {
    margin-top: -56%;
}

#Patrocinadores h1 {
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    bottom: 5%;
    width: 120%;
}

#quadrado-patrocinadores {
    display:block;
    background-color:  #ffffec;
    width: 60%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
    border: 6px solid;
    border-color: #090000;
}

#logos {
    display: flex;
    height: 18%;
    width: 18%;
    margin-top: 10%;
}

#logos1 {
    display: flex;
    height: 18%;
    width: 18%;
    margin-top: 10%;
}
#logos2 {
    display: flex;
    height: 18%;
    width: 18%;
    margin-top: 10%;
}

.logo-thales {
    margin-left: 50%;
}

.logo-firmenich {
    margin-left: 50%;
}

.logo-anglo {
    margin-left: 50%;
}

.logo-australian {
    margin-left: 50%;
}


.logo-bayer {
    margin-left: 50%;
}


.logo-TAM {
    margin-left: 50%;
}

.logo-adeste {
    margin-left: 50%;
}