Patrocinadores 

#Patrocinadores {
    margin-top: -56%;
}

#Patrocinadores h1 {
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-right: auto;
}

#logos {
    display: flex;
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
}

.logo-adeste {
    height: 125%;
    width: 125%;
} 

.logo-firmenich { 
    height: 125%;
    width: 125%;
}

.logo-bayer {
    height: 80%;
    width: 80%;
    margin-left: 38%;
}

.logo-australian {
    height: 125%;
    width: 125%;
    margin-left: 25%;
}

.logo-thales {
    height: 200%;
    width: 200%;
    margin-left: -20%;
}

.logo-anglo {
    height: 125%;
    width: 125%;
}

.logo-TAM {
    height: 125%;
    width: 125%;
    margin-top: -22%;
}