Página de reconhecimento

*{
    font-family: McLaren;
}

#Reconhecimento {
    margin-top: 6%;
}
#quadrado {
    display:block;
    background-color: #F1E8E8;
    width: 80%;
    height: auto;
    margin-left: 12%;
    margin-top: 5%;
    border: 1px solid;
    border-color: #000000;
    border-radius: 50px;
}
article#Reconhecimento h1{
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.itau-certificado {
    height: 60%;
    width: 50%;
    margin-top: 2%;
    margin-left: 10%;   
}
.itau-texto {
    box-sizing: border-box;
    height: 80%;
    width: auto;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: 10%;   
}
.folhaSp-cetificado {
    height: 50%;
    width: 70%;
    margin-top: 2%;
    margin-left: 10%; 
}
.folhaSP-texto {
    text-align: left;
    box-sizing: border-box;
    width: auto;
    margin-top: 2%;
    margin-left: 10%;   
}
#australia-certificado {
    height: 50%;
    width: 70%;
    margin-left: 10%;   
}
.australia-texto {
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin-top: 2%;
    margin-left: 10%;   
}
.australia-texto2 {
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin-top: 20%;
    margin-left: 10%; 
}